/plant_dataset
/plant_dataset.zip
/node_modules
/.vscode
/.env
.DS_Store
*.log
*.tmp
.ipynb_checkpoints
bliptransformer/__pycache__
/leaf_vs_non_leaf_split
/leaf_vs_non_leaf_split.zip
best_convnext.pth
/blip_model
__pycache__
